p {
  font-family: "bc-vajgar", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: azure;
}
h5 {
  font-family: "captain-comic", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.card {
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(118, 123, 158);
}
body {
  background-image: url(https://i0.wp.com/wallpaperaccess.com/full/2825710.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
h1 {
  font-family: "silver-northern", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

